
.idea/vcs.xml
.idea/workspace.xml
.idea/vcs.xml
Wordpress3_Offers20_DistinctVM.csv
Wordpress3_Offers20_MinVM.csv
Wordpress3_Offers20_DistinctVM.csv
Wordpress3_Offers20_MinVM.csv
Wordpress3_Offers20_DistinctVM.csv
Wordpress3_Offers20_MinVM.csv
/Input/Greedy_Input/
/Output/MiniZinc_Output/
